h1 FOSSASIA + GCI + DOCKER
img(src="https://pbs.twimg.com/profile_images/1141238022/fossasia-cubelogo_400x400.jpg")
img(src="https://lh6.googleusercontent.com/Ri_tQOtWvlUbc33f3ryf-Oj4B_KPqD6jJVwB3hlsSMltePOJ1ASv2DvTseBx4aWpgSMt-tXhR13L14B30lgsNcc2NvOslbAFvYs9PKfVGQp2ttuL5eAbRZTnvCBoJpQ7g8AEnvI")
img(src="https://pbs.twimg.com/profile_images/378800000124779041/fbbb494a7eef5f9278c6967b6072ca3e_400x400.png")
